<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <nav class="navbar sticky-top navbar-expand-lg navbar-light ">
      <a class="navbar-brand" href="#">
              Dron Flight Planner
        </a>
  </nav>
  <div class="row">
    <div class="col-md-4">
      <app-list-view (rowSelect)="onFlightSelect($event)"></app-list-view>
    </div>
    <div class="col-md-8">
      <app-map-view [flight]="selectedFlight"></app-map-view>
    </div>
  </div>
</div>
